# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Original downloaded dataset
ESC-50-master/
esc50.zip

# OS files
.DS_Store
Thumbs.db

# Local audio dataset
data/raw/*.wav
