datasets==5.1.0
librosa==1.0.0
matplotlib==3.11.2
numpy==2.5.3
pandas==3.0.6
scikit-learn==1.9.1
seaborn==0.13.2
soundfile==0.14.0
torch==2.14.1
torchaudio==2.11.0
transformers==5.19.0
jupyter
ipykernel
